@import 'extends_mixings_maps';
@import 'color';

.footerContainer{
    background-color: nth($list: $colors, $n:5 ) ;
    padding: 2%;
}
  
  .footerContainer__Top{
    @extend %Flex_SpaceBetween;
    align-items: center;

    .footerLogo {
        width: 20%;
    }
  }
  
.footerContainer__Top__Icons {
    display: flex;
    align-items: center;
    width: 40%;

    a {
        color: white;
        font-size: 2.3vw;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 8%;

        &:hover {
            color:white;
            border-radius: 0.5vw;
            background-color: nth($list: $colors, $n:1 );
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }

}
.footerContainer__Bottom{
    font-size: 1.2vw;
    color: white;
    text-align: end;
    font-style: italic;
}


@media screen and (max-width:800px ) {


    .footerContainer{
        background-color: nth($list: $colors, $n:5 );
        padding: 2%;
    }
      
      .footerContainer__Top{
        @extend %Flex_SpaceBetween;
        align-items: center;
    
        .footerLogo {
            width: 40%;
        }
      }
      
    .footerContainer__Top__Icons {
        display: flex;
        align-items: center;
        width: 40%;
        padding-right: 20%;
    
        a {
            color: white;
            font-size: 3vw;
            padding: 10%;
            margin-left: 30%;
    
            i {
                font-size: 4vw;

            }
            &:hover {
                border-radius: 0.5vw;
                padding: 10%;
                @include changeBackgroundAndFontColor(nth($list: $colors, $n:1 ), white);
            }
        }
    }
    .footerContainer__Bottom{
        font-size: 2vw;
        color: white;
        text-align:right;
        font-style: italic;
    }

}