@import 'extends_mixings_maps';

.logoContainer{
    background-color: #52B191;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.menu_bar {
    display: none;
}


.mainMenu {
    overflow:hidden;
    list-style:none;
    margin:0;
    padding: 0; 

    li {
        float:left;
        border-right: 0.5px solid #8A8A8A; ;
        width:20%;
        text-align: center;

        a i {
            margin-right:0.5vw;
        }

        &:last-child {
            border: none;
        }

        &:hover {
            background-color:#328468;
            cursor: pointer;
            a {
                color: white;
            }
        }

        &:active {
            @include changeBackgroundAndFontColor(#43A080, white);
        }
    }

    a {
        padding:0.5vw;
        display:block;
        text-decoration:none;
        font-size: 1.2vw;
        font-weight: 600;
        color:#328468; 
    }
  }

  .headerContainer {
    grid-area: headerContainer;
    text-align: center;
    position: relative;

    .headerContainer__BottomLeft {
        position: absolute;
        left: 2%;
        bottom: 10%;
        font-size: 4vw;
        font-style: italic;
        color: white;
    }

    .headerContainer__Title {
        position: absolute;
        right: 2%;
        top: 15%;
        font-size: 2.8vw;
        font-style: italic;
        color: white;
    }
  }
  
  
  

@media screen and (max-width:800px ) {
    header {
        grid-area: header;
        width:100%;

        .logoContainer{
            background-color: #52B191;
            text-align:right;
            padding-right: 2%;
            padding-top: 2%;
            padding-bottom: 2%;
            position: fixed;
            z-index:99;

            .menu_bar {
                display:block;

                .bt-menu {
                    position: absolute;
                    z-index:99;
                    top: 55%;
                    left: 2%;
                    color:white;
                    text-decoration:none;
                    font-size: 20px;
                }
            } 
        } 

        nav {
            width:50%;
            height:100%;
            left: -100%;
            position: fixed;
            background: #52B191;
            z-index:99;
            padding-top: 15%;
            align-items: center;


            .mainMenu {
                overflow:hidden;
                list-style:none;
                margin:0;
                padding: 0;

                li {
                    display:block;
                    float:none;
                    width: 100%;
                    height: 5vw;
                    border-right: none;
                    border-bottom: 1px solid rgba(255,255,255, .3);
                    text-align: left;
                    justify-content: center;
                    padding-left: 2%;
                    padding-top: 5%;
                    padding-bottom: 15%;
                    text-align: justify;

                    a {
                        padding:0.5vw;
                        display:block;
                        text-decoration:none;
                        font-size: 3.5vw;
                        font-weight: 600;
                        color:white; 
                    }

                    &:hover {
                        background-color:#328468;
                        cursor: pointer;
                        a {
                            color: white;
                        }
                    }
            
                    &:active {
                        @include changeBackgroundAndFontColor(#43A080, white);
                    }
                } 
            }
        }

    }

    .headerContainer {
        grid-area: headerContainer;
        text-align: center;
        margin-top: 17%;
        position: relative;

        .headerContainer__BottomLeft {
            position: absolute;
            right: 2%;
            text-align: right;
            bottom: 5%;
            font-size: 6vw;
            font-style: italic;
            color: white;
        }

        .headerContainer__Title {
            display: none;
        }
      }
  }
